node_modules
.github
.vscode
.nyc_output
reports
src
tests
.gitattributes
.gitignore
.gitmodules
.mocharc.json
.mocharc.prod.json
.nycrc.json
.vscode-test.mjs
.vscodeignore
eslint.config.mjs
tsconfig.json
tsconfig.release.json
version-check.ps1
secret.yml